<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NGO WEBPORTAL</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <script src="https://kit.fontawesome.com/a9724eb378.js" crossorigin="anonymous"></script>
</head>

<body>
  <section class="header">
    <div class="adress-heading">
      <div class="address">
        <p>Mail: alisaquib95@gmail.com</p>
        <p>Phone: +91 8969226710</p>
      </div>
      <div class="donate" >
        <a href="/donate"><p>DONATE NOW</p></a>
      </div>
    </div>
    <div class="navbar">
      <div class="navbar-heading">
        <p>To The <span>Rescue!</span></p>
      </div>
      <div class="navbar-subheading">
        <a href="/"><p id="home">Home</p></a>
        <p id="about"><a href="/about">About Us</a></p>
        <p id="contact"><a href="/contact">Contact Us</a></p>
        <p id="contact"><a href="/contact">Gallery</a></p>
        <p id="contact"><a href="/contact">News</a></p>
      </div>
      </div>
