<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NGO WEBPORTAL</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <section class="header">
    <div class="adress-heading">
      <div class="address">
        <p>Mail: alisaquib95@gmail.com</p>
        <p>Phone: +91 8969226710</p>
      </div>
      <div class="donate" >
        <p><a href="/">DONATE NOW</a></p>
      </div>
    </div>
    <div class="navbar">
      <div class="navbar-heading">
        <p>To The <span>Rescue!</span></p>
      </div>
      <div class="navbar-subheading">
        <p id="home"><a href="/">Home</a></p>
        <p id="about"><a href="/about">About Us</a></p>
        <p id="contact"><a href="/contact">Contact Us</a></p>
        <p id="contact"><a href="/contact">Gallery</a></p>
        <p id="contact"><a href="/contact">News</a></p>
      </div>
      </div>
      <div class="main-page">
        <div class="text-area">
          <p class="main-line">SAVE THE ENVIRONMENT!</p>
          <p class="submain-line">4 a better World</p>
          <p class="submain-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
          <div class="buttons">
            <button type="button" class="button1">Donate Now</button>
            <button type="button" class="button2">More Options</button>
          </div>
        </div>
      </div>
  </section>
  <div>

  </div>
</body>

</html>
