<%- include("partials/header"); -%>
      <div class="main-page">
        <div class="text-area">
          <p class="main-line">SAVE THE ENVIRONMENT!</p>
          <p class="submain-line">4 a better World</p>
          <p class="submain-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
          <div class="buttons">
            <button type="button" class="button1" >Donate Now</button>
            <button type="button" class="button2">More Options</button>
          </div>
        </div>
      </div>
  </section>
  <section class="middle-section">
    <div class="middle-container">
      <div class="middle-container-box">
        <p class="middle-container-heading">Become A volunteer</p>
        <hr>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to m</p>
        <a href="/join"><button type="button" class="button1" >Join Now</button></a>
      </div>
      <div class="middle-container-box">
        <p class="middle-container-heading"> Donate Now</p>
        <hr>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to m</p>
        <a href="/donate"><button type="button" class="button2">Donate Now</button></a>
      </div>
    </div>
  </section>

  <%- include("partials/footer"); -%>
