
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  background-color: #EEEEEE;
  font-size: 1.5rem;
  padding-right: 220px;
  padding-top: 20px;
  gap:100px;
  margin: 0;
}

.navbar-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 3.5rem;
}

.navbar-subheading {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
  gap: 25px;
  font-size: 1.5rem;
}

.adress-heading{
  background-color: #316B83;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.address {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}
.donate {
   display: flex;
   justify-content: flex-end;
   color: white;
}
span {
    color: #316B83;
}
.main-page {
  background-image: url("https://im.whatshot.in/img/2020/Jun/istock-1130655067-cropped-1591265020.jpg");
  width: 100%;
  height: 650px;
  text-align: center;
  padding: 0;
  margin: 0;
}
 .text-area {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   text-align: left;
   gap:1px;
   max-width: 750px;
   padding-left: 150px;
   padding-top: 100px;
}

.main-line {
  font-size: 4.5rem;
  font-weight: bold;
  color: #E4E3E3;
}

.submain-line {
  font-size: 4rem;
  font-weight: bold;
  color: #E4E3E3;
}

.submain-para {
  font-size: 2rem;
  font-weight: bold;
  color: #E4E3E3;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap:20px;
}

button {
  border-radius: 20px;
  border-color: #D57E7E;
  height:50px;
  width: 175px;
  background-color:  white;
  color:  #D57E7E;
}
button:hover {
  border-radius: 20px;
  width: 175px;
  height:50px;
  background-color:  #D57E7E;
  color:  white;
}

.middle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

.middle-container-box {
  max-width: 500px;
  max-height: 500px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-style: outset;
  padding: 50px;
  background-color: #889EAF;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.middle-container-heading {
  font-size: 3.5rem;
  color: #D57E7E;
}

.middle-section {
  background-color: #EEEEEE;
}

#footer {
  padding :7% 15%;
  text-align: center;
  background-color: #316B83;

}
.social-icon {
  margin:20px 10px;
}

.form  {
  display: flex;
  flex-direction: column;
  padding-left:350px;
  background-color: #EEEEEE;
}

.form-element {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap:10px;
  font-size: 1.5rem;
  color: black;
}

input {
  border: 2px solid #316B83;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input:hover {
  border-color: #316B83;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.Name {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.fName {
  display: flex;
  flex-direction: column;
}

.button3 {
  background-color: white;
  border-color: #316B83;
  color: #316B83;
}

.button3:hover {
  background-color: #316B83;
  border-color: white;
}
.form-heading {
  color: black;
  font-size: 3rem;
  font-weight: bold;
}

.gender {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
